<div class="search">
  <div class="search__header">

  </div>
  <div class="search__body">
    <div class="search__body-title">搜尋</div>
    <div class="search__body-city">
      <select name="" id="city" (change)="onCityChange($event.target.value)">
        <option *ngFor="let item of appStoreService.getCity$ | async" [(value)]="item.CityName">{{ item.CityName }}</option>
      </select>
    </div>
    <div class="search__body-area">
      <select name="" id="zone" (change)="onAreaChange($event.target.value)">
        <option>請選擇</option>
        <option *ngFor="let item of appStoreService.getArea$ | async" [(value)]="item.AreaName">{{ item.AreaName }}</option>
      </select>
    </div>
  </div>
</div>
<app-masklist></app-masklist>
