/* You can add global styles to this file, and also import other style files */


* { box-sizing: border-box; }

body,html{
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', 'Arial', 'sans-serif';
}


app-root{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
}
